*{
    box-sizing: border-box;
}

header, footer{
    height: 100px;
    border: 3px solid black;
    clear: both;
}

section{
    height: 200px;
    width: 33.3333%;
    border: 3px solid green;
    float: left;
}

.article{
    height: 200px;
    width: 50%;
    border: 3px solid purple;
    float: left;
}

@media screen and (max-width: 600px){
    section{
        background: red;
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .article{
        float: left;
        width: 100%;
        background: green;
    }
}

@media (max-width: 820px) and (orientation: landscape){
    section{
        float: left;
        background: purple;
        width: 100%;
    }
}